
.cont-team {
    background-color: #40aef7;
    color: #ffffff;
}

.cont-media {
    color: #6cb4fb;
}

.cont-media > a {
    color: #008cba;
}

.cont-footer {
    background-color: #194695;
    color: #f7e8e8;
}

.cont-footer,
.cont-media,
.cont-team {
    margin-top: 20px;
    padding: 20px;
}
.btn {
    border-radius: 0px;
}


body{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    
}
.cabecera{
    background-image: url('http://lorempixel.com/1920/1133/cats/2/');
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
h1{
    font-family: fantasy;
}
.jumbotron{
    background-color: #fafafa;
}
.jumbotron p{
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 200;
}


.panel-danger {
    border-color: #ea2f10;
}

.panel-danger>.panel-heading {
    color: #ffffff;
    background-color: #f04124;
    border-color: #ea2f10;
}
.btn-danger {
    color: #ffffff;
    background-color: #f04124;
    border-color: #ea2f10;
}
.panel-warning>.panel-heading {
    color: #ffffff;
    background-color: #e99002;
    border-color: #d08002;
}
.btn-warning {
    color: #ffffff;
    background-color: #e99002;
    border-color: #d08002;
}
.panel-success>.panel-heading {
    color: #ffffff;
    background-color: #43ac6a;
    border-color: #3c9a5f;
}
.btn-success {
    color: #ffffff;
    background-color: #43ac6a;
    border-color: #3c9a5f;
}

.panel .panel-body {
    background-color: #f0f0f0;
    font-size: 20px;
    color: #777777;
    padding: 20px;
    margin: 0px;
}


.panel {
    border-radius: 0;
}
.panel > .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 20px 10px;
}
